* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

html, body, .main {
    width: 100%;
    height: 100%;
    background-color: #EFEFEF;
}

@import "compass/css3";

.navigation {
  list-style: none;
  margin: 0; 
  
  background: white;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
    -webkit-box-flow: row wrap;
    -moz-box-flow: row wrap;
    -ms-flexbox-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    
  justify-content: center;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: .5em;
  color: #777;
  font-size: 2em;
}

.navigation a:hover {
  background: darken(white, 5%);
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    -webkit-box-flow: column wrap;
    -moz-box-flow: column wrap;
    -ms-flexbox-flow: column wrap;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    
    padding: 0;
  }
  
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}


.flex-container_column {
  padding: 0.5em;
  margin: 0.5em;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
    -webkit-box-flow: column wrap;
    -moz-box-flow: column wrap;
    -ms-flexbox-flow: column wrap;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    
  justify-content: space-around;
}

.flex-item-image {
  padding: 5px;
  height: 200px;
  margin-top: 10px;
  border-radius: 100px;
  width: 200px;

}
.flex-item-description {
  padding: 5px;
  width: 400px;
  height: 200px;
  margin-top: 10px;
  margin-left: 1em;
  
  color: black;
  font-size: 1.5em;
  text-align: left;
}

.flex-container_row {
  padding: 0.5em;
  margin: 0.5em;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
    -webkit-box-flow: row wrap;
    -moz-box-flow: row wrap;
    -ms-flexbox-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    
  justify-content: center;
}


.flex-container_categorie {
  padding: 0.5em;
  margin: 0.5em;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
    -webkit-box-flow: row wrap;
    -moz-box-flow: row wrap;
    -ms-flexbox-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
        
  justify-content: center;
}

.flex-item-categorie {
  padding: 5px;
  width: 600px;
  margin-top: 1em;
  margin-left: 1em;
  
  text-align: left;
  font-size: 2em;
  padding-bottom: .5em;
  color: #337ab7;
}

.flex-item-text
{
  padding: 5px;
  width: 600px;
  margin-top: 10px;
  margin-left: 1em;
  
  text-align: left;
  font-size: 2em;
  padding-bottom: .5em;
  color: black;
}
